# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Tobias Fella <fella@posteo.de>
[Desktop Entry]
Name=Tokodon
Name[ast]=Tokodon
Name[ca]=Tokodon
Name[ca@valencia]=Tokodon
Name[cs]=Tokodon
Name[de]=Tokodon
Name[en_GB]=Tokodon
Name[eo]=Tokodon
Name[es]=Tokodon
Name[eu]=Tokodon
Name[fi]=Tokodon
Name[fr]=Tokodon
Name[gl]=Tokodon
Name[he]=Tokodon
Name[hu]=Tokodon
Name[ia]=Tokodon
Name[is]=Tokodon
Name[it]=Tokodon
Name[ka]=Tokodon
Name[ko]=Tokodon
Name[lv]=Tokodon
Name[nl]=Tokodon
Name[nn]=Tokodon
Name[pa]=ਟੂਕੂਡੂਨ
Name[pl]=Tokodon
Name[pt]=Tokodon
Name[pt_BR]=Tokodon
Name[ro]=Tokodon
Name[ru]=Tokodon
Name[sk]=Tokodon
Name[sl]=Tokodon
Name[sv]=Tokodon
Name[tr]=Tokodon
Name[uk]=Tokodon
Name[x-test]=xxTokodonxx
Name[zh_CN]=Tokodon
Name[zh_TW]=Tokodon
GenericName=Browse the Fediverse
GenericName[ca]=Navegueu pel Fedivers
GenericName[ca@valencia]=Navegueu per Fedivers
GenericName[en_GB]=Browse the Fediverse
GenericName[es]=Explorar el Fediverso
GenericName[eu]=Arakatu Fedibertsoa
GenericName[fr]=Parcourir le Fediverse
GenericName[gl]=Explore o Fediverso
GenericName[hu]=A Fediverse böngészése
GenericName[it]=Naviga il fediverso
GenericName[ka]=Fediverse-ის დათვალიერება
GenericName[ko]=연합우주 탐색하기
GenericName[pl]=Przejrzyj Fediverse
GenericName[ru]=Просмотр Fediverse
GenericName[sl]=Prebrskaj Fediverse
GenericName[sv]=Bläddra i Fediverse
GenericName[tr]=Fediverse Uygulaması
GenericName[uk]=Навігація Fediverse
GenericName[zh_TW]=瀏覽聯邦宇宙
Comment=Client for the Mastodon
Comment[ca]=Client per al Mastodon
Comment[ca@valencia]=Client per a Mastodon
Comment[de]=Ein Programm für Mastodon
Comment[en_GB]=Client for the Mastodon
Comment[eo]=Kliento por la Mastodonto
Comment[es]=Cliente para Mastodon
Comment[eu]=«Mastodon»erako bezero bat
Comment[fi]=Mastodon-asiakas
Comment[fr]= Client pour Mastodon
Comment[gl]=Cliente para Mastodon.
Comment[he]=לקוח למסטודון
Comment[hu]=Kliens a Mastodonhoz
Comment[is]=Forrit fyrir Mastodon
Comment[it]=Client per Mastodon
Comment[ka]=Mastodon-ის კლიენტი
Comment[ko]=마스토돈 클라이언트
Comment[lv]=„Mastodon“ klients
Comment[nl]=Client voor de Mastodon
Comment[nn]=Klient for Mastodon-nettverket
Comment[pa]=ਮਸਟੂਡੂਨ ਲਈ ਕਲਾਈਟ
Comment[pl]=Program do Mastodona
Comment[pt]=Cliente do Mastodon
Comment[pt_BR]=Cliente para o Mastodon
Comment[ro]=Client pentru rețeaua Mastodon
Comment[ru]=Клиент Mastodon
Comment[sk]=Klient pre Mastodon
Comment[sl]=Odjemalec za Mastodon
Comment[sv]=Klient för Mastodon
Comment[tr]=Mastodon için istemci
Comment[uk]=Клієнт мережі Mastodon
Comment[x-test]=xxClient for the Mastodonxx
Comment[zh_CN]=Mastodon 客户端
Comment[zh_TW]=Mastodon 用戶端
Exec=tokodon %u
Terminal=false
Icon=org.kde.tokodon
Type=Application
Categories=Network;InstantMessaging;X-SocialMedia
X-KDE-FormFactor=desktop;tablet;handset;
SingleMainWindow=true
MimeType=x-scheme-handler/web+ap;x-scheme-handler/tokodon;
