# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Tobias Fella <fella@posteo.de>
[Desktop Entry]
Name=Tokodon
GenericName=Mastodon Client
Comment=Client for the Mastodon
Exec=tokodon %u
Terminal=false
Icon=org.kde.tokodon
Type=Application
Categories=Network;InstantMessaging;SocialMedia
